body{
    --color-1: #000f2b;
    --color-2: #1B264D;
    --color-3: #263B61;
    --color-4: #13576E;
    --color-5: #232323;
    --color-6: #19244b;
    --color-7: #2c4066;

    --white: #fdfdfd;
    --black: #000000;

    font-family: 'Roboto', sans-serif;
    background-color: var(--color-3);
}

.container{
    padding: 20px 10px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px){
    .container{
        padding: 20px 30px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 0 calc((100% - 940px)/2);
    }
}