/* Padrão */
.noticias, .agendas, .galeria, .sobre{
    width: 100%;
    color: var(--white);
    text-align: center;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
}

.noticias__a, .agendas__a, .galeria__a, .sobre__a{
    display: inline-block;
    margin: 10px 0;
}

.noticias__titulo, .agendas__titulo, .galeria__titulo, .sobre__titulo{
    font-size: 1.3rem;
    font-weight: 700;
}

.noticias__texto, .agendas__texto, .galeria__texto{
    margin: 5px 0;
}

.noticias__div, .agendas__div, .galeria__div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.noticia, .agenda, .galeria-img{
    background-color: var(--color-2);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.noticia:hover, .agenda:hover, .galeria-img:hover{
    box-shadow: 0 0 0 3px var(--white);
    transition: .2s all ease-in-out;
}

.noticia:active, .agenda:active, .galeria-img:active{
    background-color: var(--color-5);
}

.agenda{
    width: 40%;
}

.noticia__img, .agenda__img, .galeria-img__img{
    width: 100%;
    height: 200px;
}

.agenda__img{
    height: 100px;
}

.noticia__img-file, .agenda__img-file, .galeria-img__img-file{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noticia__titulo, .agenda__titulo{
    font-size: 1.1rem;
    font-weight: 700;
    margin: 5px 0;
}

.noticia__texto, .agenda__texto{
    font-size: .9rem;
}

.noticia__link, .agenda__link{
    display: inline-block;
    opacity: .8;
    font-size: .9rem;
    margin-top: 10px;
}

.noticia__link::before, .agenda__link::before{
    content: '➥';
}

.sobre__linkDiv{
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.noticia__linkNoticia, .agenda__linkAgenda, .galeria-img__linkGaleria, .sobre__linkSobre, .sobre__linkContato{
    text-align: center;
    width: 40%;
    background-color: var(--color-1);
    border-radius: 5px;
    align-self: center;
    padding: 5px;
    margin: 10px 0;
}

.noticia__linkNoticia:hover, .agenda__linkAgenda:hover, .galeria-img__linkGaleria:hover, .sobre__linkSobre:hover, .sobre__linkContato:hover{
    box-shadow: 0 0 0 3px var(--white);
    transition: .2s all ease-in-out;
}

.noticia__linkNoticia:active, .agenda__linkAgenda:active, .galeria-img__linkGaleria:active, .sobre__linkSobre:active, .sobre__linkContato:active{
    background-color: var(--color-5);
}

/* Divisórias */
.secao-divisoria{
    border: 0;
    margin: 0 auto;
    width: 80%;
    height: 3px;
    background: rgb(38,59,97);
    background: linear-gradient(90deg, rgba(38,59,97,0) 0%, rgba(19,87,110,1) 50%, rgba(38,59,97,0) 100%);
}

.div2{
    margin-bottom: 50px;
    background: rgb(0,15,43);
    background: linear-gradient(90deg, rgba(0,15,43,1) 0%, rgba(19,87,110,1) 50%, rgba(0,15,43,1) 100%);
}

/* Variações */
.galeria, .sobre{
    background-color: var(--color-1);
}

.galeria-img{
    background-color: var(--color-3);
}

.galeria-img__img{
    margin-top: 10px;
}

.sobre{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sobre__a{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sobre__titulo{
    margin-bottom: 20px;
}

.sobre__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    align-self: center;
}

.sobre__img{
    background-image: url('./../img/logo01.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert();
    width: 40%;
    height: 100px;
}

.sobre__texto{
    width: 60%;
    text-align: left;
    font-size: .9rem;
}

.galeria-img__linkGaleria, .sobre__linkSobre, .sobre__linkContato{
    background-color: var(--color-2);
}

.sobre__linkContato{
    background-color: var(--color-4);
}

@media screen and (min-width: 540px){
    .noticia, .galeria-img{
        width: 45%;
    }

    .agenda{
        width: 20%;
    }
}

@media screen and (min-width: 1024px){
    .noticias__titulo, .agendas__titulo, .galeria__titulo, .sobre__titulo{
        font-size: 2.5rem;
    }

    .noticias__titulo, .agendas__titulo, .galeria__titulo{
        margin-top: 50px;
    }

    .noticias__texto, .agendas__texto, .galeria__texto{
        margin-top: 20px;
        font-size: 1.3rem;
    }

    .noticia, .galeria-img{
        width: 30%;
    }

    .secao-divisoria{
        margin-top: 30px;       
    }

    .sobre__linkDiv{
        width: 40%;
        flex-direction: row;
    }    

    .noticia__linkNoticia, .agenda__linkAgenda, .galeria-img__linkGaleria, .sobre__linkSobre, .sobre__linkContato{
        max-width: 200px;
        margin: 30px 0;
    }

    .sobre__linkSobre, .sobre__linkContato{
        width: 100px;
        font-size: 1.1rem;
    }

    .sobre__div{
        width: 60%;
    }
    
    .sobre__img{
        width: 60%;
    }
    
    .sobre__texto{
        font-size: 1.1rem;
    }
}